/* GLOBAL DEFAULTS  */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';

body {
    background-color: burlywood;

    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: rgb(250, 9, 218);
}

img,
iframe {
    max-width: 100%;
}




/* HEADINGS AND TYPOGRAPHY */

h1 {
    
}

h2 {
    
}

/* LAYOUTS */
.layout-wide {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


/* HEADER & MAIN & FOOTER  */

header {
    background-color: magenta;
}

main {
    
}

/* NAVIGATION */


/* MODULES */
.news-component {
    background-color: #f1f1f1;
    padding: 20px;
}

@media screen and (min-width: 800px) {

    .news-component {
        background-color: pink;

        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 20px;

    }
}

