/* GLOBAL DEFAULTS  */
@import 'https://necolas.github.io/normalize.css/8.0.1/normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Rubik:wght@700&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    

    font-family: 'Karla', sans-serif;

    line-height: 1.8;
    color: #34495e;
    font-size: 18px;
}

a {
    color: #ff5b5e;
}

a:hover {
    color: #28313b;
}

img,
iframe,
video {
    max-width: 100%;
}

video {
    width: 100%;
}


/* general elements */

.tooltip-parent {
    position: relative;
}

.text-tooltip-parent {
    border-bottom: 1px dashed #ff5b5e;
}

.tooltip {
    background-color: #28313b;
    color: #fff;
    padding: 4px 20px;
    border-radius: 10px;

    position: absolute;
    right: -15px;
    bottom: -8px;

    transition: .3s;
    opacity: 0;

   


}

.text-tooltip-parent .tooltip {
    bottom: -20px;
    right: 0;
    background-color: #ff5b5e;
    
} 



.tooltip-parent:hover .tooltip {
    
    opacity: 1;
}

/* HEADINGS AND TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Rubik', sans-serif;
    color: #28313b;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 42px
}

h3 {
    font-size: 30px;
   
}

h4 {
    font-size: 24px
    
}

h5 {
    font-size: 20px;
}

.highlight {
    font-weight: bold;
    font-size: 22px;
}

/* LAYOUTS */
.layout-wide {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.layout-narrow {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}


/* HEADER & MAIN & FOOTER  */


header {
    background-color: #4952a3;
    color: white;
}

.logo-wrapper img {
    max-width: 50px;
    transition: .3s;
}

.logo-wrapper a:hover img {
    transform: scale(1.2);
}

.site-title {
    font-size: 32px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    text-align: right;
}

@media screen and (min-width: 600px) {

    .site-title {
        font-size: 54px;
    }

}

header .layout-wide {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

footer {
    background-color: #4952a3;
    color: #ffffff;
    text-align: center;
}

main {
    
}

/* subs form */
.subscription-wrapper {
    background-color: #ccc;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subscription-wrapper label {
    color: #34495e;
    display: block;
    font-size: 26px;
}



/* NAVIGATION */
.navigation {
    background-color: #4952a3;
}

@media screen and (min-width: 800px) {
    .navigation {
        position: sticky;
        top: 0;
    }
}


.nav-inner ul {
    list-style: none;
    padding: 0;
}

.nav-inner li {
    text-align: center;
    text-transform: uppercase;
}

.nav-inner a {
    text-decoration: none;
    font-weight: bold;
    font-size:20px;
    color: #f1f1f1;
    border-bottom: 3px solid transparent;

   position: relative;
}

.nav-inner a:hover {
    /* see .hero-component for example of text shadow */
    color: #ff5b5e;
    border-bottom: 3px solid #ff5b5e;
}

.nav-inner a:hover:before {
    position: absolute;
    content: '';
    bottom: -1px;
    left: -6px;
    background-color: #ff5b5e;
    width: 100%;
    height: 4px;
    opacity: 0.7;
}

/* this is for mobile view  */
@media screen and (max-width: 800px) {

    .nav-inner {
        max-height: 0;
        overflow: hidden;

        transition: .3s;
    }

    .nav-inner.open {
        max-height: 100vh;
    }
}


/* this is for large screen view */
@media screen and (min-width: 800px) {

    .nav-prompt {
        display: none;
    }

    .nav-inner ul {
        display: flex;
        justify-content: space-between;
    }

}



/* MODULES */
.news-component {
    
    padding: 20px;

   
}

.news-component h2 {
    
}

@media screen and (min-width: 800px) {

    .news-component {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}


@media screen and (min-width: 600px) {
    .images-thing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media screen and (min-width: 800px) {
    .images-thing {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


/* media page components*/

.internal-section {
    
}


/* hero component */

.hero-component {
    position: relative;
}

.hero-component img {
    width: 100%;
}

@media screen and (min-width: 800px) {

    .hero-component .hero-content {
       
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;

        text-align: center;

        display: flex;
        align-items: center; 
    }

    .hero-component h1 {
        color: #fff;
        text-shadow: 1px 1px 10px #28313b;
    }
}



/* image gallery */

@media screen and (min-width: 500px) {

    .gallery {
        display: grid;
        grid-template-columns: 5fr 5fr;
        grid-gap: 10px;
    } 
}


@media screen and (min-width: 800px)  {
    
    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

